*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: left;
  line-height: 1.4;
}

/*******Colours******/
:root {
  --white: #ffffff;
  --wheat: rgb(245, 222, 179);
  --grey: #ffffffbd;
  --black: #1c1c1c;
  --red: #c70039;
  --blue: rgb(187, 241, 241);
}

body {
  background: url(/images/marek-piwnicki-lYXmBBw_uPE-unsplash.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--white);
  line-height: 1;
  /*background-position: 100%;*/
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #c70039;
}

.menu-btn.close {
  transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  opacity: 1;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

/*.menu-branding,*/
.menu-nav {
  display: flex;
  flex-flow: column wrap;

  /*align-items: left;
  justify-content: left;*/
  float: left;
  height: 100vh;

  overflow: hidden;
  opacity: 1;
}
.menu-nav {
  list-style: none;
  background-color: var(--black);
  color: var(--blue);
  width: 20vw;
}
.menu-nav-link {
  display: inline-block;
  position: relative;
  font-weight: 600;
  font-size: 1rem;
  color: #ffffffbd;
  text-decoration: none;
}

h1 {
  color: var(--wheat);
  font-size: 3rem;
}

h2 {
  color: var(--blue);
  font-size: 2rem;
}
/*
footer {
  background-color: var(--black);
  height: 30vh;
}
*/
a {
  color: var(--grey);
  padding-left: 5px;
}

a:hover {
  color: #c70039;
}
